<button [ngClass]="{'list-group-item':true,
      			    'list-group-item-success': loveIts>0,
      				'list-group-item-danger': loveIts<0}">
	<div class="list-group-item-heading">
		<span style="font-size: 24px; font-weight: bold;">{{title}}</span>
		<span class="text-right" style="float: right; font-weight: bold;">
			{{ created_at|date: 'short'}}
		</span>
	</div>
	<p class="list-group-item-text">{{ content}}</p>
	<br>
	<button class="btn btn-success" (click)="onLovePost()" style="margin-right: 5px;">
		Love it
	</button>
	<button class="btn btn-danger" (click)="onDontLovePost()">
		Dont love it
	</button>	
	<button class="btn btn-default pull-right" (click)="onRemovePost()">
		<span class="glyphicon glyphicon-minus"></span>
	</button>
</button>
